<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Django Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" title="" type="">
    </head>
    <body>
        <div>
            <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
            </header> 
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <div class="nav-right">
                    {% comment %} <a href="{% url 'accounts:SignUpView' %}">Sign up</a> {% endcomment %}
                    <a href="{% url 'login' %}">Log In</a>
                </div>
            {% endif %}
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>
